@model List<SliderModel>

<div class="container-fluid p-3" >
    <a asp-controller="slider" asp-action="create">
        <button class="btn btn-success">Create</button>
    </a>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Upper Text</th>
            <th scope="col">Below Text</th>
            <th scope="col">Button Text</th>
            <th scope="col">Image Path</th>
            <th scope="col">Image</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach(SliderModel s in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@s.Id</td>
                    <td>@s.TextUpper</td>
                    <td>@s.TextBelow</td>
                    <td>@s.TextButton</td>
                    <td>
                        <src src="@s.Image"></src>
                    </td>

                    <td class="row justify-content-center">
                        <form method="post" asp-action="UpdateFile" asp-controller="Slider" enctype="multipart/form-data">
                            <a asp-controler="Slider" asp-action="Update" asp-route-id="@s.Id">
                                <button type="submit" class="btn btn-warning mr-5">Update</button>
                            </a>
                        </form>
                        <form method="post" asp-action="Delete" asp-controller="Slider" asp-route-id="@s.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>